body {
	font-family: "Cuprum", "PT Sans", sans-serif;

}
h1 {
	font-size: 36px;
	color: #ffffff;
	line-height: 13px;
	font-weight: bold;
}
h2 {
	font-size: 30px; 
	color: #32425c;
	font-weight: normal;
}	
